
cmake-build-*/** linguist-generated
build/** linguist-generated
install_dir/** linguist-generated

# Autogenerat de CMake/compilers
**/oop_autogen/** linguist-generated
**/CMakeFiles/** linguist-generated
**/CMakeCache.txt linguist-generated
**/CMakeLists.txt linguist-vendored

*.exe linguist-generated
*.obj linguist-generated
*.bin linguist-generated
*.log linguist-generated

# IDE/config/scripts
.idea/** linguist-vendored
scripts/** linguist-vendored
cmake/** linguist-vendored

# Documentatie
*.md linguist-documentation

ext/** linguist-vendored
